# Local bank simulator (acceptor).

[DEFAULT]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX44.xml
SocketAcceptPort=9880

[SESSION]
BeginString=FIX.4.4
SenderCompID=SIMBANK
TargetCompID=AGYAL
