# Local bank simulator (acceptor) hosting two demo banks on one port.

[DEFAULT]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX44.xml
SocketAcceptPort=9880
BeginString=FIX.4.4
TargetCompID=AGYAL

[SESSION]
SenderCompID=SIMBANK

[SESSION]
SenderCompID=SIMBANK2
